@import "tailwindcss";
#root {
    margin: 0px;

}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
.fire-text {
    -webkit-text-stroke: 2px black;
    text-shadow: 0 0 10px rgba(95, 243, 9, 0.808), 0 0 20px rgba(255, 69, 0, 0.6);
}